<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>New quiz</title>
    <!--<link rel="stylesheet" href="css/quiz.css">-->
    <style>

        .container-quiz {
            max-width: 800px;
        }

    </style>
</head>
<body th:style="'background: url(/img/sky.jpg) no-repeat center center fixed;'">
<div class="container-fluid">
    <div class="d-flex flex-row-reverse">
        <a href="/">
            <button class="btn btn-secondary">Back to main page</button>
        </a>
    </div>
</div>
<div class="container-fluid container-quiz">
    <div class="card-deck mb-3 text-center" style="opacity: 85%">
        <div class="card">
            <div class="card-header">
                <h1>Summary</h1>
            </div>
            <div class="card-body">
                <h4 th:text="'Points: ' + ${points} + '/' + ${totalPoints}"></h4>
            </div>
        </div>
    </div>
</div>

</body>
</html>
